.cv4_editor {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(182, 177, 177);
    border-radius: .5rem;
    .cv_container {
        min-height: 65rem;
        display: flex;
        flex-direction: column;
        @include media-breakpoint-up(md) {
                height: 70rem;
                overflow: auto;
            }
        .heading {
            padding-top: 2rem;
            padding-left: 2rem;
            .border_bottom {
                border-bottom: 1px solid #d5cdcd;
            }
            .heading_left {
                display: flex;
                flex-direction: column;
                .name {
                    font-size: 2rem;
                }
                .position {
                    margin-top: 1rem;
                    font-size: 1.8rem;
                    color: rgb(173, 169, 169);
                }
                .profile {
                    font-size: 1.5rem;
                    margin-top: 1rem;
                }
            }
    
            .heading_right {
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgb(112, 112, 112);
                -ms-word-break: break-all;
                word-break: break-all;
    
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                hyphens: auto;
                .icon {
                    font-size: 2rem;
                }
                .contact_info {
                    display: flex;
                    flex-direction: column;
                    font-size: 1.5rem;
                    span:not(.address) {
                        margin-top: .5rem;
                    }
                    .info {
                        display: flex;
                        flex: column;
                        align-items: center;
                        .right_text{
                            margin-left: .5rem;
                        }
                    }
                }
            }
        }

        .main_content {
            height: 100%;
            margin-top: 2rem;
            padding: 1rem 2rem;
            .row_main_content {
                height: 100%;
                .left_main_content {
            
                    .experience {
                        width: 95%;
                        &__title {
                            font-size: 2rem;
                            font-weight: 700;
                        }
                        &__list {
                            font-size: 1.4rem;
                            &__item {
                                
                                &:not(:first-child) {
                                    margin-top: 1.5rem;
                                }
                                .position {
                                    font-weight: 900;
                                    font-size: 1.5rem;
                                    text-transform: capitalize;
                                }
                                .company_wrapper {
                                    font-size: 1.3rem;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    .experience_address_wrapper {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        .company {
                                            font-weight: 900;
                                            text-transform: capitalize;
                                        }
                                        .company_address {
                                            font-weight: 600;
                                        }
                                    }
                                    .dates {
                                        font-weight: 600;
                                        margin-right: .5rem;
                                        .startYear, .endYear{
                                            padding-left: .3rem;
                                        }
                                    }
                                }
                                .description {
                                    margin-top: .5rem;
                                }
        
                                .ul_holder {
                                    padding-left: 3rem;
                                }
                            }   
                        }
                    }
    
                    .education {
                        width: 95%;
                        margin-top: 1rem;
                        &__title {
                            font-size: 2rem;
                            font-weight: 700;
                        }
        
                        &__list {
                            font-size: 1.4rem;
                            &__item {
                                &:not(:first-child) {
                                    margin-top: 1.5rem;
                                }
                                .degree {
                                    font-weight: 900;
                                    text-transform: capitalize;
                                }
                                .company_wrapper {
                                    font-size: 1.3rem;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    .education_address_wrapper {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        .school {
                                            font-weight: 900;
                                            text-transform: capitalize;
                                        }
                                        .school_address {
                                            font-weight: 600;
                                        }
                                    }
                                    .dates {
                                        font-weight: 600;
                                        margin-right: .5rem;
                                        .startYear, .endYear{
                                            padding-left: .3rem;
                                        }
                                    }
                                }
        
                                .description {
                                    margin-top: .5rem;
                                }
                                .description.ul_holder {
                                    padding-left: 3rem;
                                }
                            }   
                        }
                    }
                }
    
                .right_main_content {
                    
                    .skills {
                        width: 100%;
                        text-align: left;
                        h2 {
                            font-size: 2rem;
                            text-align: center;
                        }
    
                        .skills_list {
                            display: inline-block;
                            text-align: left;
                            padding-left: 3rem;
                            font-size: 1.7rem;
                            li{
                                margin-top: .8rem;
                            }
                        }
                    }
    
                    .languages {
                        width: 100%;
                        margin-top: 1rem;
                        h2 {
                            font-size: 2rem;
                            text-align: center;
                        }
    
                        div[class*="language_div_"] {
                            &:not(:last-child) {
                                margin-bottom: 1rem;
                            }
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            width: 92%;
                            margin: .5rem auto;
                            border-bottom: 1px solid rgb(82, 180, 43);
        
                            .language_name {
                                font-size: 1.6rem;
                                flex: 1 1 0px;
                                -ms-word-break: break-all;
                                word-break: break-all;
        
                                -webkit-hyphens: auto;
                                -moz-hyphens: auto;
                                hyphens: auto;
                            }
                            .rating {
                                font-size: 1.5rem;
                            }
        
                            .star_1 {
                                @include oneStar;
                            }
                            .star_2 {
                                @include twoStar;
                            }
                            .star_3 {
                                @include threeStar;
                            }
                            .star_4 {
                                @include fourStar;
                            }
                            .star_5 {
                                @include fiveStar;
                            }
                        }
                    }
    
                    .certifications {
                        width: 100%;
                        margin: 2rem 0;
                        h2 {
                            font-size: 2rem;
                        }
                        text-align: center;
                        .certifications__list {
                            div[class*="certifications__list__item__"]{
                                margin-top: 1rem;
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
            }
        }
    }

}