
.comp_container {
    display: flex;
    flex-direction: column;
    
    @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: space-between;
    }

    .formcomp_wrapper {
        order: 1;
        @include media-breakpoint-up(lg) {
            order: 2;
            flex: 0 1 50%;
        }

        .formcomp {
            background-color: $color-grey-light-2;
            padding: 1rem;
            min-height: 65rem;
            position: relative;

            @include media-breakpoint-up(lg) {
                min-height: 70rem;
            }
        }
        .btn-group{
            text-align: center;
        }

        .profile.standard {
            #profile_desc {
                resize: none;
                font-size: 1.6rem;
            }

            .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .finalize {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            
            .message_screen {
                text-align: center;
                #download {
                    margin-top: 2rem;
                }
            }

            .loader_wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p {
                    margin-top: 1rem;
                }
            }
        }
    }

    .cvcomp {
        order: 2;
        z-index: 2;
        @include media-breakpoint-up(lg) {
            order: 1;
            flex: 0 1 50%;
        }

        .cv1 {
            background-color: $color-grey-light-1
        }
    }
}

.alert_toast {
    display: none;
    width : 40rem;
    height: 10rem;
    margin: auto;
    background-color: #f8d7da;
    color: #721c24;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 2rem;
    z-index: 100;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation_buttons-desktop {
    display: none;
    background-color: #e7e5e57a;
    @include media-breakpoint-up(lg) {
        display: block;
    }

    margin: 1.5rem auto;

    .buttons-desktop {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .btn-back {
            background-color: rgba(41, 152, 255, 1);
            color: black;
            font-size: 1.2rem;

            &:disabled {
                background-color: #00000075 !important;
            }
        }

        .btn-remove {
            font-size: 1.2rem;
            background-color: rgba($color: red, $alpha: 1.0);
            color: #fff;
            &:disabled {
                background-color: #00000075 !important;
            }
        }

        .btn-next {
            font-size: 1.2rem;
            background-color: rgba(90, 229, 182, 1);
        }
    }
}

.navigation_buttons {
    @include media-breakpoint-up(lg) {
        display: none;
    }
    z-index: 50;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background-color: rgb(54 54 54 / 79%);

    .buttons {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .btn-back {
            background-color: rgba(41, 152, 255, 1);
            color: black;
            font-size: 2rem;
        }

        .btn-remove {
            font-size: 2rem;
            background-color: rgba($color: red, $alpha: 1.0);
            color: #fff;
        }

        .btn-next {
            font-size: 2rem;
            background-color: rgba(90, 229, 182, 1);
        }
    }
}