
.section-about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30rem 10rem;
    margin-top: -20vh;
    background-color: $color-grey-light-2;
    text-align: center;
}
.templates.row {
    grid-gap: 2rem;
}
.templates {
    padding-top: 10rem;
    padding-bottom: 15rem;
    background-color: gainsboro;
    margin-top: -20rem;
    transform: skewY(-7deg);
    background-color: rgb(223 223 223 / 78%);
    
    & > * {
        transform: skewY(7deg);
    }
    #template_link {
        background-color: $color-grey-light-1;
        min-height: 60rem;
        @include media-breakpoint-up(md) {
            min-height: 70rem;
        }
        @include media-breakpoint-up(lg) {
            min-height: 75rem;
        }
        border: 1px solid rgb(183 166 166);
        border-radius: .6rem;
        box-shadow: 0.1rem 2rem 1rem $color-grey-dark;
        @include media-breakpoint-up(lg) {
            box-shadow: 1rem 2rem 2rem $color-grey-dark;
        }
        transition: all .3s;
        &:hover {
            @include media-breakpoint-up(lg) {
                transform: translateY(-10px);
            }
            .select-button {
                @include media-breakpoint-up(lg) {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .text-padding {
        text-align: center;
        padding-bottom: 5rem;
    }
    .primary-text {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to left, #303230, #8ba199);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 2px;

        &:hover {
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }
    }
    .row.templates_div {
        width: 95%;
        margin: 0 auto;
        grid-row-gap: 6rem;
        grid-column-gap: 3rem;
        @include media-breakpoint-up(xl) {
            grid-column-gap: 5rem;
        }
    }
    .templates_div {
        padding: 1px;

        @include media-breakpoint-up(sm) {
            padding: 5rem;
        }

        @include media-breakpoint-up(md) {
            padding: 10rem;
        }

        @include media-breakpoint-up(lg) {
            padding: 3rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 5rem;
        }
    }
}

.buffer {
    background-color: rgba(223, 223, 223, 0.8);
    width: 100%;
    height: 20rem;
    margin-top: -10rem;
}

.footer {
    background-color: #303230;
    width: 100%;
    height: 20rem;
    margin-top: -10rem;
    border-radius: 5px;
    mix-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
}