.template__navigation {
    @include media-breakpoint-up(lg) {
        display: none;
    } 
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: rgb(233, 229, 229);
        height: 8rem;
        width: 8rem;
        position: absolute;
        top: 1rem;
        right: 5rem;
        border-radius: 50%;
        z-index: 2000;
        cursor: pointer;
        
        .line {
            transition: all .3s;
            &:before {
                position: absolute;
                content: '';
                top: -1.5rem;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: black;
            }
            position: absolute;
            top: 50%;
            left: 10%;
            width: 80%;
            height: 2px;
            background-color: black;

            &:after {
                position: absolute;
                content: '';
                top: 1.5rem;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: black;
            }
        }
    }

    // &__background {
    //     width: 5rem;
    //     height: 5rem;
    //     position: absolute;
    //     top: 8rem;
    //     right: 6rem;
    //     background-image: radial-gradient(#e1dddd, #d4d6df);
    //     z-index: 1000;
    //     transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    // }

    &__nav {
        height: 100vh;
        width: 0;
        position: fixed;
        background-image: radial-gradient(#a09393, #747579);
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        transition: all .8s;
    }

    &__list {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        display: none;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        transition: all .8s;
    }

    &__item {
        margin: 2rem;
    }

    &__link {
        font-size: 4rem;
        font-weight: 300;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }
    &__selected {
        font-size: 4rem;
        font-weight: 300;
        color: #eee;
        border-bottom: solid 3px #fff;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    &__checkbox:checked ~ &__nav .template__navigation__list {
        display: block;
    }

    &__checkbox:checked ~ &__button .line {
        transform: rotate(45deg);
        &:before {
            top: 0;
            transform: rotate(90deg);
        }
        &:after {
            content: '';
            opacity: 0;
        }
    }
}

.template__navigaion__menu {

    @include media-breakpoint-up(lg) {
        display: block !important;
    }

    ul {
        list-style-type: none;

        li {
            display: inline-block;
            font-size: 2.5rem;
            padding: 0 2rem;
            .selected {
                color: rgb(59, 51, 51);
                background-color: rgb(159, 226, 133);
            }
            a {
                color: black;
                &:after, :before {
                    display: block;
                    content: '';
                    border-bottom: solid 3px #e06b0b;
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                }
                &:hover {
                    &:after, :before{
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}


.templates-new-cv {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: gainsboro;

    #template_link {
        background-color: $color-grey-light-1;
        min-height: 60rem;
        @include media-breakpoint-up(md) {
            min-height: 70rem;
        }
        @include media-breakpoint-up(lg) {
            min-height: 75rem;
        }
        border: 1px solid rgb(183 166 166);
        border-radius: .6rem;
        box-shadow: 0.1rem 2rem 1rem $color-grey-dark;
        @include media-breakpoint-up(lg) {
            box-shadow: 1rem 2rem 2rem $color-grey-dark;
        }
        transition: all .3s;
        &:hover {
            @include media-breakpoint-up(lg) {
                transform: translateY(-10px);
            }
            
            .select-button {
                @include media-breakpoint-up(lg) {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .text-padding {
        text-align: center;
        padding-bottom: 5rem;
    }
    .primary-text {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to left, #303230, #8ba199);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 2px;

        &:hover {
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }
    }
    .row.templates_div {
        width: 95%;
        margin: 0 auto;
        grid-row-gap: 6rem;
        grid-column-gap: 3rem;
        @include media-breakpoint-up(xl) {
            grid-column-gap: 5rem;
        }
    }
    .templates_div {
        padding: 1px;

        @include media-breakpoint-up(sm) {
            padding: 5rem;
        }

        @include media-breakpoint-up(md) {
            padding: 10rem;
        }

        @include media-breakpoint-up(lg) {
            padding: 3rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 5rem;
        }
    }

    .more_comming {
        margin-top: 3rem;
    }
}