<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/editor.css"/>
    <script type="text/javascript" src="/editor.js"></script>
    <title>My Dream Resume</title>
</head>

<body>
    <header class="header__editor">

        <div class="header__top-row">
            <div class="header__logo-box">
                <a href="/" class="header__atag"><span>Resume Builder</span><img src="/public/cv.png" loading="lazy" alt="Logo" class="header__logo"></a>
            </div>
            <div class="track_bar">
                <div class="track_bar_inner">
                    {{#trackRoutes}}
                        <a href="{{fullUrl}}" class="route {{#active}}active{{/active}} capitalize" data-url="{{route}}">{{route}}</a>
                    {{/trackRoutes}}
                </div>
            </div>
        </div>
    </header>
        
    <div class="wrapper" data-active-route="personal" data-active-cv="{{type}}" data-cv-id="{{cvId}}" data-routes="{{routes}}" data-resumes="{{resumes}}">

        <div class="row comp_container">
            <div class="col-12 col-md-6 cvcomp">
                
                    <div class="cv4_editor">
                        <div class="row cv_container">
                            
                            <div class="heading col-12">
                                <div class="row border_bottom">
                                    <div class="col-6 heading_left">
                                        <div class="name">
                                            <span id="firstName">
                                                {{#current_resume.personal.firstName}}
                                                    {{current_resume.personal.firstName}}
                                                {{/current_resume.personal.firstName}}
                                                {{^current_resume.personal.firstName}}
                                                    Name
                                                {{/current_resume.personal.firstName}}
                                                </span> <span id="lastName">
                                                {{#current_resume.personal.lastName}}
                                                    {{current_resume.personal.lastName}}
                                                {{/current_resume.personal.lastName}}
                                                {{^current_resume.personal.lastName}}
                                                    Name
                                                {{/current_resume.personal.lastName}}
                                            </span>
                                        </div>

                                        <div class="position" id="position">
                                            {{#current_resume.personal.position}}
                                                {{current_resume.personal.position}}
                                            {{/current_resume.personal.position}}
                                        </div>
                                    {{#profile}}
                                        <div class="profile" id="profile">
                                            <div class="profile_desc">
                                                {{#current_resume.profile.profile_desc}}
                                                    {{current_resume.profile.profile_desc}}
                                                {{/current_resume.profile.profile_desc}}
                                            </div>
                                        </div>
                                    {{/profile}}
                                    </div>

                                    <div class="col-6 heading_right">
                                        <div class="contact_info">
                                            <span class="info address">
                                                <span class="icon icon_address {{^current_resume.personal.address}}d-none{{/current_resume.personal.address}}">
                                                    <i class="fa-solid fa-location-dot"></i>
                                                </span>
                                                <span class="right_text">
                                                    {{#current_resume.personal.address}}
                                                        {{current_resume.personal.address}}
                                                    {{/current_resume.personal.address}}
                                                </span>
                                            </span>
                                            <span class="info phone">
                                                <span class="icon icon_phone {{^current_resume.personal.phone}}d-none{{/current_resume.personal.phone}}">
                                                    <i class="fa-solid fa-phone"></i>
                                                </span>
                                                <span class="right_text">
                                                    {{#current_resume.personal.phone}}
                                                        {{current_resume.personal.phone}}
                                                    {{/current_resume.personal.phone}}
                                                </span>
                                            </span>
                                            <span class="info email">
                                                <span class="icon icon_email {{^current_resume.personal.email}}d-none{{/current_resume.personal.email}}">
                                                    <i class="fa-solid fa-envelope"></i>
                                                </span>
                                                <span class="right_text">
                                                    {{#current_resume.personal.email}}
                                                        {{current_resume.personal.email}}
                                                    {{/current_resume.personal.email}}
                                                </span>
                                            </span>
                                            <span class="info linkedin">
                                                <span class="icon icon_linkedin {{^current_resume.personal.linkedin}}d-none{{/current_resume.personal.linkedin}}">
                                                    <i class="fa-brands fa-linkedin"></i>
                                                </span>
                                                <span class="right_text">
                                                    {{#current_resume.personal.linkedin}}
                                                        <a href="{{current_resume.personal.linkedin}}">{{current_resume.personal.linkedin}}</a>
                                                    {{/current_resume.personal.linkedin}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="main_content col-12">
                                <div class="row row_main_content">
                                    <div class="col-8 left_main_content">
                                        {{#experience}}
                                            <div class="experience">
                                                <h3 class="experience__title">Experience</h3>
                                                <div class="experience__list">
                                                    {{#current_resume.experience}}
                                                            <div class="experience__list__item experience__list__item__{{index}}">
                                                                <span class="position">{{position}}</span>
                                                                <div class="company_wrapper editor">
                                                                    <div class="experience_address_wrapper">
                                                                        <span class="company">{{company}}</span>
                                                                        <span class="company_address">{{#companyaddress}}{{companyaddress}}{{/companyaddress}}</span>
                                                                    </div>
                                                                    <span class="dates">
                                                                        <span class="date_span startMonth">{{startMonth}}</span>
                                                                        <span class="date_span startYear">{{startYear}}</span>
                                                                        <span class="date_span delimeter"> - </span>
                                                                        {{#endMonth}}
                                                                            <span class="date_span endMonth">{{endMonth}}</span>
                                                                            <span class="date_span endYear">{{endYear}}</span>
                                                                        {{/endMonth}}
                                                                        {{^endMonth}}
                                                                            <span class="date_span present">Present</span>
                                                                        {{/endMonth}}
                                                                    </span>
                                                                </div>
                                                                {{#textarea_type_div}}
                                                                    <div class="description">
                                                                        {{textarea_prof_desc}}
                                                                    </div>
                                                                {{/textarea_type_div}}
                                                                {{^textarea_type_div}}
                                                                    <ul class="description ul_holder">
                                                                        {{{textarea_prof_desc}}}
                                                                    </ul>
                                                                {{/textarea_type_div}}
                                                            </div>
                                                        {{/current_resume.experience}}                
                                                </div>
                                            </div>
                                        {{/experience}}
                                        {{#education}}
                                            <div class="education">
                                                <h3 class="education__title">Education</h3>
                                                <div class="education__list">
                                                    {{#current_resume.education}}
                                                        <div class="education__list__item education__list__item__{{index}}">
                                                            <span class="degree">{{degree}}</span>
                                                            <div class="company_wrapper editor">
                                                                <div class="education_address_wrapper">
                                                                    <span class="school">{{school}}</span>
                                                                    <span class="school_address">{{#schooladdress}}{{schooladdress}}{{/schooladdress}}</span>
                                                                </div>
                                                                <span class="dates">
                                                                    <span class="date_span startMonth">{{startMonth}}</span>
                                                                    <span class="date_span startYear">{{startYear}}</span>
                                                                    <span class="date_span delimeter"> - </span>
                                                                    {{#endMonth}}
                                                                        <span class="date_span endMonth">{{endMonth}}</span>
                                                                        <span class="date_span endYear">{{endYear}}</span>
                                                                    {{/endMonth}}
                                                                    {{^endMonth}}
                                                                        <span class="date_span">Present</span>
                                                                    {{/endMonth}}
                                                                </span>
                                                            </div>
                                                            {{#textarea_type_div}}
                                                                <div class="description">
                                                                    {{textarea_prof_desc}}
                                                                </div>
                                                            {{/textarea_type_div}}
                                                            {{^textarea_type_div}}
                                                                <ul class="description ul_holder">
                                                                    {{{textarea_prof_desc}}}
                                                                </ul>
                                                            {{/textarea_type_div}}
                                                        </div>
                                                    {{/current_resume.education}}
                                                </div>
                                            </div>
                                        {{/education}}
                                    </div>

                                    <div class="col-4 right_main_content">
                                        {{#skills}}
                                            <div class="skills">
                                                <h2>Skills</h2>
                                                <ul class="skills_list">
                                                    {{#current_resume.skills}}
                                                        <li class="skill_li skill_li_{{index}}">{{skill}}</li>
                                                    {{/current_resume.skills}}
                                                </ul>
                                            </div>
                                        {{/skills}}

                                        {{#languages}}
                                            <div class="languages">
                                                <h2>Languages</h2>
                                                
                                                {{#current_resume.languages}}
                                                    <div class="language_div_{{index}}">
                                                        <span class="language_name">{{language}}</span>
                                                        <span class="rating star_{{starValue}}">
                                                            <span class="star1"></span>
                                                            <span class="star2"></span>
                                                            <span class="star3"></span>
                                                            <span class="star4"></span>
                                                            <span class="star5"></span>
                                                        </span>
                                                    </div>
                                                {{/current_resume.languages}}

                                            </div>
                                        {{/languages}}

                                        {{#certifications}}
                                                <div class="certifications">
                                                    <h2 class="certification__title">Certifications</h2>
                                                    <div class="certifications__list">
                                                        {{#current_resume.certifications}}
                                                            <div class="certifications__list__item__{{index}}">
                                                                {{certification}}
                                                            </div>
                                                        {{/current_resume.certifications}}
                                                    </div>
                                                </div>
                                        {{/certifications}}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
            </div>
            <div class="formcomp_wrapper">
                <div class="col-12 col-md-6 formcomp">

                    <div class="personal">

                        <form enctype="multipart/form-data" class="form">

                            <div class="form__group">
                                <label class="form__label" for="firstName">First Name</label>
                                <input type="text" class="form__input" id="firstName" name="firstName" required maxlength="80" value="{{#current_resume.personal.firstName}}{{current_resume.personal.firstName}}{{/current_resume.personal.firstName}}"/>
                            </div>

                            <div class="form__group">
                                <label class="form__label" for="lastName">Last Name</label>
                                <input type="text" class="form__input" id="lastName" name="lastName" required maxlength="80" value="{{#current_resume.personal.lastName}}{{current_resume.personal.lastName}}{{/current_resume.personal.lastName}}"/>
                            </div>

                            <div class="form__group">
                                <label class="form__label" for="position">Position</label>
                                <input type="text" class="form__input" id="position" name="position" maxlength="40" value="{{#current_resume.personal.position}}{{current_resume.personal.position}}{{/current_resume.personal.position}}"/>
                            </div>
        
                            
                            <div class="form__group">
                                <label class="form__label" for="phone">Full Address</label>
                                <input type="text" class="form__input" id="address" name="address" maxlength="150" value="{{#current_resume.personal.address}}{{current_resume.personal.address}}{{/current_resume.personal.address}}"/>
                            </div>
                                    
                            <div class="form__group">
                                <label class="form__label" for="phone">Phone</label>
                                <input type="text" class="form__input" id="phone" name="phone" pattern="^[+0-9-]*$" maxlength="40" value="{{#current_resume.personal.phone}}{{current_resume.personal.phone}}{{/current_resume.personal.phone}}"/>
                                
                            </div>
                            
                            <div class="form__group">
                                <label class="form__label" for="email">Email</label>
                                <input type="email" class="form__input" id="email" name="email" maxlength="50" value="{{#current_resume.personal.email}}{{current_resume.personal.email}}{{/current_resume.personal.email}}"/>
                                        
                            </div>

                            <div class="form__group">
                                <label class="form__label" for="linkedin">Linkedin</label>
                                <div class="row">
                                    <div class="col-3">
                                        <span class="link_text_wrapper">https://</span>
                                    </div>
                                    <div class="col-9">
                                        <input type="text" class="form__input linkedin__input" id="linkedin" name="linkedin" maxlength="150" value="{{#current_resume.personal.linkedin}}{{current_resume.personal.linkedin}}{{/current_resume.personal.linkedin}}"/>
                                    </div>
                                </div>
                            </div>

                            <div class="btn-group u-margin-top-small">
                                <button type="submit" class="btn btn_submit">Submit</button>
                            </div>
                        </form>

                    </div>   

                </div>

                <div class="navigation_buttons-desktop">
                    <div class="buttons-desktop">
                        <button class="btn btn-back" {{#isPersonal}}disabled{{/isPersonal}}>Back</button>
                        <button class="btn btn-remove" {{#isPersonal}}disabled{{/isPersonal}}>Remove</button>
                        <button class="btn btn-next">Skip</button>
                    </div>
                </div>

            </div> 
        </div>

    </div>

    <div class="alert_toast">
                
    </div>

    <div class="navigation_buttons">
        <div class="buttons">
            <button class="btn btn-back" {{#isPersonal}}disabled{{/isPersonal}}>Back</button>
            <button class="btn btn-remove" {{#isPersonal}}disabled{{/isPersonal}}>Remove</button>
            <button class="btn btn-next">Skip</button>
        </div>
    </div>

</body>

</html>
