.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    &:disabled:hover {
        cursor:not-allowed;
    }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        font-size: 2.6rem !important;
        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.btn_cancel {
    background-color: #e5dede;
}

.btn_submit {
    background-color: $color-primary-dark;
    text-align: center;
    font-size: 2rem;
    min-width: 30%;
}

.btn-add-experience, .btn-add-education {
    background-color: $color-primary-dark;
    text-align: center;
    font-size: 1.6rem;
    min-width: 30%;
}

.btn_add_bullet {
    width: 100%;
    background-color: #16d35482;
    @include media-breakpoint-up(xl) {
        width: 80%;
    }
}

.btn-text-select {
    &:link,
    &:visited {
        font-size: 2rem;
        color: black;
        display: inline-block;
        text-decoration: none;
        background: rgba(85, 197, 122, .5);
        transition: all .2s;
        padding: 1rem;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-primary, .15);
        background: rgba(85, 197, 122, 1);
    }   

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-primary, .15);
        transform: translateY(0);
    }
    
}

.btn-text-select-resume {
    &:link,
    &:visited {
        font-size: 2.5rem;
        border-radius: 5%;
        width: 10rem;
        text-align: center;
        color: black;
        display: inline-block;
        text-decoration: none;
        background: rgba(85, 197, 122, .9);
        transition: all .2s;
        padding: 1rem;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-primary, .15);
        background: rgba(85, 197, 122, 1);
    }   

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-primary, .15);
        transform: translateY(0);
    }
    
}

.btn-text-delete-resume {
    &:link,
    &:visited {
        font-size: 2.5rem;
        border-radius: 5%;
        width: 10rem;
        text-align: center;
        color: black;
        display: inline-block;
        text-decoration: none;
        background: rgba(231, 62, 62, 0.9);
        transition: all .2s;
        padding: 1rem;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-primary, .15);
        background: rgba(231, 62, 62, 0.9);
    }   

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-primary, .15);
        transform: translateY(0);
    }
}

.btn-form-submit {
    &,
    &:link,
    &:visited {
        font-size: 2rem;
        color: black;
        display: inline-block;
        text-decoration: none;
        background-color: rgba(85, 197, 122);
        transition: all .2s;
        padding: 1rem;
        width: 15rem;
        height: 5rem;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-primary, .15);
        cursor: pointer;
    }   
}

.btn-green {
    background-color: #94f394;
}

.btn-back {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //Change for the <button> element
        border: none;
        cursor: pointer;
        position: relative;
    }

    &:disabled {
        background-color: #e6e6e6 !important;
        opacity: .4; 
        cursor: not-allowed;
        background-image: none;
        border: none;
        box-shadow: none;
    }
    &:disabled:hover {
        cursor:not-allowed;
    }
}

.btn-next {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        background-color: #28b485;
        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:disabled {
        background-color: gray !important;
        opacity: 0.65; 
        cursor: not-allowed;
    }
    &:disabled:hover {
        cursor:not-allowed;
    }
}

.btn-remove {
    &:disabled {
        background-color: #e6e6e6 !important;
        color: black !important;
        opacity: .4; 
        cursor: not-allowed;
        background-image: none;
        border: none;
        box-shadow: none;
    }
}