.education.editor {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .form_education {
        width: 100%;
    }

    .form-select.date_select {
        font-size: 2rem;
        font-family: inherit;
        color: inherit;
    }

    .row {
        grid-column-gap: 2rem;
    }
    .date_top {
        margin-top: 2rem;
    }
    .textarea_comp {
        .wrapper_label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .bullet_text {
                &::before{
                    content: "\a";
                    white-space: pre;
                }
            }
            
            .icon_label_list {
                cursor: pointer;
                background: url(../public/list.png);
                background-size: cover;
                background-position: center 100%;
                width: 4rem;
                height: 4rem;
                margin-right: 2rem;
            }
    
            .icon_label_text {
                cursor: pointer;
                background: url(../public/text.png);
                background-size: cover;
                background-position: center 100%;
                width: 4rem;
                height: 4rem;
                margin-right: 2rem;
            }

        }
    }

    .list_holder {
        padding-left: 3rem;
        padding-top: 1rem;
        overflow: scroll;
        font-size: 1.5rem;
        height: 15rem;

        .divElemIcon {

            .remove_icon {
                padding-left: 1.5rem;
                cursor: pointer;
                i {
                    font-size: 1.5rem;
                }
            }
        }
    }

    #textarea_prof_desc {
        resize: none;
        font-size: 1.5rem;
    }

    .buttons {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .buttons_wrapper {
            #cancelBtn {
                margin-right: 2rem;
            }
        }
    }

    .education_list_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        height: 60vh;
        width: 100%;
        overflow: auto;

        .education_list {
            width: 100%;
            div[class^="education_"] {
                word-break: break-all;
                &:not(:first-child) {
                    margin-top: 2rem;
                }
                padding: .5rem 1rem;
                border: 1px solid #625858;
                border-radius: 5px;
                overflow: hidden;
                height: 18rem;
                .position {
                    font-weight: 900;
                    font-size: 1.5rem;
                    text-transform: capitalize;
                }

                .dates_comp_wrapper {
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    font-size: 1.5rem;
                    justify-content: space-between;
                    .edu_address_wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .place {
                            text-transform: capitalize;
                        }
                    }
                }
                .description {
                    margin-top: .1rem;
                    font-size: 1.3rem;
                }
                .description.ul_holder {
                    padding-left: 3rem;
                }
                .buttons_icons {
                    margin-top: .5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .select-wrapper {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-column-gap: 2rem;

                        .btn-edit-resume {
                            &,
                            &:link,
                            &:visited {
                                font-size: 1.8rem;
                                border-radius: 5%;
                                width: 8rem;
                                text-align: center;
                                color: black;
                                display: inline-block;
                                text-decoration: none;
                                background: rgba(85, 197, 122, .9);
                                transition: all .2s;
                                padding: 1rem;
                            }

                            &:hover {
                                box-shadow: 0 1rem 2rem rgba($color-primary, .15);
                                background: rgba(85, 197, 122, 1);
                                cursor: pointer;
                            }   

                            &:active {
                                box-shadow: 0 .5rem 1rem rgba($color-primary, .15);
                                transform: translateY(0);
                            }
                        }

                        .btn-delete-resume {
                            &,
                            &:link,
                            &:visited {
                                font-size: 1.8rem;
                                border-radius: 5%;
                                width: 8rem;
                                text-align: center;
                                color: black;
                                display: inline-block;
                                text-decoration: none;
                                background: rgba(231, 62, 62, 0.9);
                                transition: all .2s;
                                padding: 1rem;
                            }

                            &:hover {
                                box-shadow: 0 1rem 2rem rgba($color-primary, .15);
                                background: rgba(231, 62, 62, 0.9);
                                cursor: pointer;
                            }   

                            &:active {
                                box-shadow: 0 .5rem 1rem rgba($color-primary, .15);
                                transform: translateY(0);
                            }
                        }
                    }
                    
                }
            }
        }

        .add_education_div {
            margin-top: 2rem;
        }
    }
}
