.skills-list {

    .skills_list_wrapper {
        width: 100%;
        padding-top: 4rem;
        padding-left: 4rem;
        height: 35vh;
        overflow: auto;

            li[class*="skill__li__"] {
                font-size: 1.8rem;
                text-transform: uppercase;
                &:not(:first-child) {
                    margin-top: 1.5rem;
                }
                #delete_skill {
                    position: relative;
                    cursor: pointer;
                    margin-left: 3rem;
                    font-size: 2.5rem;
                    &:before {
                        content: attr(data-hover);
                        visibility: hidden;
                        opacity: 0;
                        background-color: black;
                        color: #fff;
                        text-align: center;
                        border-radius: 5px;
                        width: 6rem;
                        font-size: 1.5rem;
                        padding: 5px 0;
                        transition: opacity 1s ease-in-out;
                      
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        top: 110%; 
                    }
                    &:hover:before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
    }

    .form_add_skill {
        border: 1px solid rgb(175, 208, 212);
        border-radius: 1rem;
        padding: 1rem 5rem;
        form {
            font-size: 1.5rem;
            
            input {
                font-size: 1.8rem;
            }

            .input_div {
                margin-top: 2rem;
            }
            .buttons {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 2rem;
            }
        }
    }
}